// ==============================================================
// Clearfix

@mixin clf {
	zoom: 1;
	&:after {
		content: ".";
		display: block;
		clear: both;
		height: 0;
		visibility: hidden;
		font-size: 0;
	}
}


// ==============================================================
// Sprite

@mixin sprite-box-size($map-item, $map, $device-pixel-ratio: 2) {
  $_width:  round(image-width(sprite-file($map, $map-item)) / $device-pixel-ratio);
  $_height: round(image-height(sprite-file($map, $map-item)) / $device-pixel-ratio);
  width: $_width;
  height: $_height;
}

@mixin sprite-background-position($map-item, $map, $device-pixel-ratio: 2) {
  $position-x: round(nth(sprite-position($map, $map-item), 1) / $device-pixel-ratio);
  $position-y: round(nth(sprite-position($map, $map-item), 2) / $device-pixel-ratio);
  background-position: $position-x $position-y;
}

@mixin sprite-background-image($map-item, $map, $map-image) {
  background-image: $map-image no-repeat;
}

@mixin sprite-background($map-item, $map, $map-image, $device-pixel-ratio: 2) {
  $position-x: round(nth(sprite-position($map, $map-item), 1) / $device-pixel-ratio);
  $position-y: round(nth(sprite-position($map, $map-item), 2) / $device-pixel-ratio);
  background: $map-image no-repeat $position-x $position-y;
}

@mixin sprite-background-size($map-item, $map, $device-pixel-ratio: 2) {
  $background-size-width:   round(image-width(sprite-path($map)) / $device-pixel-ratio);
  $background-size-height: round(image-height(sprite-path($map)) / $device-pixel-ratio);
  -webkit-background-size: $background-size-width $background-size-height;
  background-size: $background-size-width $background-size-height;
}


// ==============================================================
// Background with background-size for retina

@mixin harfbg($img-src) {
	background-image: url($img-src);
	-webkit-background-size: round(image-width($img-src) / 2) auto;
	background-size: round(image-width($img-src) / 2) auto;
}
