/*!
 * others
 */

/**
 * effect-hoverlight
 * オーバー時にふわっと光る感じにする効果をつける。
 * transitionを使っているので、modernizrで振り分け、
 * サポートしている端末でのみ効果を当てる。
 * 逆にサポートしていない端末では、JavaScriptで効果を当てる。
 */
.csstransitions .effect-hoverlight {
	-webkit-transition: opacity 200ms ease-out;
	   -moz-transition: opacity 200ms ease-out;
	    -ms-transition: opacity 200ms ease-out;
	     -o-transition: opacity 200ms ease-out;
	        transition: opacity 200ms ease-out;
}

	.csstransitions .effect-hoverlight:hover {
		opacity: 0.65;
		filter: alpha(opacity=65);
	}
